<div class="education">
    <div class="main_education1">
        <div class="l1edu">
            <img src="assets/educationcap.png" alt="educationcap">
        </div>
        <div class="r1edu">
            <div class="heade1"><h1>Education</h1></div>
            <div class="subhead1"><h2>My Qualifications and Certifications </h2></div>
            <div class="desE1">
                <h3>Here's what you need to know about my academic background 🙃</h3>
            </div>
        </div>
    </div>
</div>
